body {
    margin: auto;
    max-width: 1000px;
    font-family: Consolas, monospace;
    color: #2a2d2a;
}

img {
    width: 100%
}

article {
    margin: 10px 10px 10px 10px;
}

a {
    margin: 10px 10px 10px 10px;
}